<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/12.0/phpunit.xsd"
    bootstrap="tests/bootstrap.php"
    cacheDirectory=".phpunit.cache/compat"
    colors="true"
    failOnEmptyTestSuite="true"
    failOnIncomplete="true"
    failOnNotice="true"
    failOnRisky="true"
    failOnWarning="true"
>
    <source>
        <include>
            <file>./index.php</file>
            <directory suffix=".php">./lib</directory>
        </include>
    </source>

    <testsuites>
        <testsuite name="Kirby compatibility">
            <file>./tests/Integration/BlueprintAreasAuthorizationMatrixTest.php</file>
            <file>./tests/Integration/BlueprintAreasApiTest.php</file>
            <file>./tests/Integration/BlueprintAreasChangesTest.php</file>
            <file>./tests/Integration/BlueprintAreasProxyTest.php</file>
        </testsuite>
    </testsuites>

    <php>
        <ini name="date.timezone" value="UTC"/>
        <ini name="memory_limit" value="2048M"/>
    </php>
</phpunit>
